h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 3.2rem 0;
}

a {
    font-weight: 300;
    color: #585858;
    text-decoration: none;
  }

  .avatar img{
    width: 20rem;
    height: auto;
    border-radius: 15%;
    @media only screen and (max-width : 768px) {
      width: 12rem;
    }
  }

  